

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ car.model }} - Дополнительные опции</title>

    <style>

    </style>
</head>
<body>
    <header>
        <h1>{{ car.model }} - Выберите дополнительные опции</h1>
        <p>Цена: ${{ car.price }}</p>
    </header>

    <form method="post" action="">
        {% csrf_token %}
        {% for option in all_options %}
            <input type="checkbox" name="options" value="{{ option.id }}" {% if option in selected_options %}checked{% endif %}>
            <label for="option_{{ option.id }}">{{ option.name }}</label><br>
        {% endfor %}
        <input type="submit" value="Купить">
    </form>


    <footer>

    </footer>
</body>
</html>
