


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Catalog</title>
</head>
<body>
    <h1>Car Catalog</h1>
    <ul>
        {% for car in cars %}
            <li>
                {{ car.year }} {{ car.make }} {{ car.model }} - ${{ car.price }}
                {% if car.image %}
                    <img src="{{ car.image.url }}" alt="{{ car.make }} {{ car.model }}" style="max-width: 250px; max-height: 200px;">
                {% endif %}
                <a href="{% url 'buy_car' car.id %}">Купить</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
